.header {
    background: rgb(2, 0, 36);
    background: linear-gradient(152deg, rgba(32, 26, 27, 1) 0%, rgba(44, 41, 42, 1) 52%, rgba(68, 63, 62, 1) 100%);
    color: white;
    max-height: 140px;
    min-height: 140px;
}


.header-container > h1 {
    font-size: 1.7em;
    margin: 0;
}

