.header {
    background: rgb(2, 0, 36);
    background: linear-gradient(152deg, rgba(2, 0, 36, 1) 0%, rgba(59, 60, 60, 1) 52%, rgba(58, 59, 59, 1) 100%);
    color: white;
    max-height: 140px;
    min-height: 140px;
}


.header-container > h1 {
    font-size: 1.7em;
    margin: 0;
}

